<div class="col-xs-12 col-sm-4 col-md-4 blog-lists" style="background-image: url({{ fields.field_image.content }} );">
        <div class="blog-listing" >
          <h4><a href="{{ fields.view_node.content }}">{{ fields.title.content }}</a></h4>
          <p><i>{{ fields.created.content }} by {{ fields.uid.content }} </i></p>
          <p>{{ fields.body.content }}</p>
          <a href="{{ fields.view_node.content }}" class="btn">READ MORE</a>
        </div>
      </div>