 <!-- video section -->
  <section id="video" style="background-image: url('{{file_url(content.field_background_image['#items'].entity.uri.value)}}');">
    <div class="container">
      <div class="row">
        <div class="col-md-5 campus-tour-caption">
          <h2>{{content.field_title.0}}</h2>
          <p>{{content.field_description.0}}</p>
          <div class="play-icon">
          <a class="popup-youtube" href="{{content.field_youtube_link.0}}"><i class="fa fa-play"></i></a>
            <h5>{{content.field_subtitle.0}}</h5>
          </div>
        </div>
      </div>
    </div>  
  </section>
  <!-- video section -->